#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

footer {
    background-color: black; /* Background color for footer */
    color: rgb(255, 255, 255); /* Text color for footer */
    text-align: center; /* Center text */
    padding: 5px 0; /* Padding for footer */
    position: relative; /* Ensure footer stays at bottom */
    bottom: 0;
    height: auto;
    width: 100%;
}